MONGOOSE_URI=your-mongodb-connection-string
PORT=999
CLIENT_URLS=http://localhost:3000,http://localhost:3001,https://food-delivery-frontend-ho3b.vercel.app,https://*.vercel.app

JWT_SECRET=your-super-secret-jwt-key
JWT_EXPIRES_IN=7d
ADMIN_EMAIL=Jurhee@gmail.com
ADMIN_PASSWORD=99246065
RESET_DB=false
